.banner{
    width: 100%;
    height: 600px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @keyframes banner{
        0%, 20%{
            background-image: url(../img/2.jpg);
        }
        25%, 45%{
            background-image: url(../img/food-bread-baking-pretzel-still-life-hd-wallpaper-preview.jpg);
        }
        50%, 70%{
            background-image: url(../img/HD-wallpaper-bakery-store-building-bakery-store-shop.jpg);
        }
        75%, 100%{
            background-image: url(../img/HD-wallpaper-breads-bakery-graphy-food-healthy-bread.jpg);
        }
    }
    .capa{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $colorTrasparente;
    }
    .info{
        z-index: 1;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    a{
        text-decoration: none;
        color :$colorBlanco;
        background: $colorAzul;
        padding: 16px 37px;
        display: inline-block;
        border-radius: 50px;
    }
    .info h1{
        color:$colorBlanco;
        font-size: 45px;
        margin-bottom: 20px;
    }
    .info p{
        color: $colorBlanco;
        line-height: 1.7;
        margin-bottom: 30px;
    }
    
}