.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .box{
        background-color: $colorBlanco;
        color: $colorNegro;
        border:1px solid;
        margin: 0%;
        padding: 10px;
        box-shadow: 10px 10px 5px $colorGris;
        box-sizing: border-box;
        font-size: 20px;
        width: 80%;
        margin-top: 20px;
    }
    .box img{
        width: 120px;
        height: 120px;
}
}