$colorTrasparente:rgba(0,0,0,0.6);
$colorBlanco: #fff;
$colorAzul: #3088e0;
$colorNegro:rgb(0, 0, 0);
$colorGris:#888888;
$boton:(
    blanco:#fff,
    azul:#3088e0,
    padding: 10px 35px,
    radius: 10px,
    border: none,
)
   