@import "variables";
@import "banner";
@import "tarjetas";
@import "info";
@import "contacto";
@import "_boton";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    overflow-x:hidden;
}



