@import "_variables";
@import "_banner";
@import "_contenedor";
@import "_info";
@import "_contacto";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    overflow-x:hidden;
}



