@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.banner {
  width: 100%;
  height: 600px;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes banner {
  0%, 20% {
    background-image: url(../img/pasteleria-min.jpg);
  }
  25%, 45% {
    background-image: url(../img/food-bread-baking-pretzel-still-life-hd-wallpaper-preview-min.jpg);
  }
  50%, 70% {
    background-image: url(../img/HD-wallpaper-bakery-store-building-bakery-store-shop-min.jpg);
  }
  75%, 100% {
    background-image: url(../img/HD-wallpaper-breads-bakery-graphy-food-healthy-bread-min.jpg);
  }
}

.banner .capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.banner .info {
  z-index: 1;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.banner a {
  text-decoration: none;
  color: #fff;
  background: #3088e0;
  padding: 16px 37px;
  display: inline-block;
  border-radius: 50px;
}

.banner .info h1 {
  color: #fff;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner .info p {
  color: #fff;
  line-height: 1.7;
  margin-bottom: 30px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  color: orange;
  background: #f2f2f2;
}

.contenedor .card {
  height: 300px;
  color: #fff;
  margin: 10%;
  padding: 30px;
  font-size: 20px;
  margin-top: 40px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mini_triples_de_miga-cover-min.jpg);
  background-size: cover;
}

.contenedor .card h3 {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}

.info2 {
  display: flex;
  text-align: center;
  padding: /*200px*/ 15%;
  justify-content: space-around;
  background-color: #f2f2f2;
}

.info2 .texto {
  width: 50%;
  max-width: 600px;
  text-align: initial;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info2 .texto h2 {
  color: orange;
  font-size: 34px;
}

.info2 .container_img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/local-min.jpg");
  background-size: cover;
  background-position: center center;
  height: /*500px*/  50vh;
  width: 50%;
}

.boton {
  padding: 10px 35px;
  border-radius: 10px;
  border: none;
  background: #3088e0;
  color: #fff;
}

.container {
  width: 90%;
  height: 100%;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container .container .card1 {
  width: 270px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  border: 2px solid orange;
  border-radius: 10x;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.container .container .card1 .product-image {
  width: 230px;
  margin: 20px auto;
}

.container .container .card1 .product-image img {
  width: 100%;
  transition: 0,4s;
}

.container .container .card1 .product-info h4 {
  font-size: 18px;
  padding: 0 25px;
  margin-bottom: 10px;
}

.container .container .card1 .btn {
  width: 100%;
}

.container .container .card1 .btn button {
  width: 100%;
  background: black;
  border: 1px solid orange;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.footer {
  background-color: #f2f2f2;
  padding: 70px 0;
  margin-top: 50px;
}

.footer .container-footer {
  max-width: 1170px;
  margin: auto;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style: none;
}

.footer .footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer .footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer .footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: orange;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer .footer-col ul li a:hover {
  color: orange;
  padding-left: 8px;
}

.footer .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  transition: all 0.5 ease;
}

.footer .footer-col .social-links a:hover {
  color: #24262b;
  background-color: orange;
}

/*@media (max-width: 767) {
  .footer .footer-col {
    width: 100%;
  }
}*/

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form .info-form h2 {
  margin-bottom: 40px;
  font-size: 35px;
}

.container-form .info-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form .info-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form .info-form a i {
  color: orange;
  margin-right: 10px;
}

.container-form form .campo, .container-form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form  .btn-enviar {
  padding: 15px;
  border: none;
  font-size: 15px;
  outline: 0px;
  cursor: pointer;
  background-color: orange;
  border-radius: 3px;
  color: white;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  background: orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

/* Nuevo estilo */

.h3, h3 {
  font-size: 1.4rem;
}

@media (min-width: 501px) and (max-width: 992px) {

  .info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info2 .container_img {
    width: 100%;
  }

  .info2 .texto {
    width: 100%;
    padding-right: 30px;
  }
}

@media (max-width: 500px) {

  .info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info2 .container_img {
    width: 100%;
  }

  .info2 .texto {
    width: 100%;
    margin-top: 30px;
  }

  p {
    margin-top: 40px;
  }

  ol, ul {
    padding-left: 0;
  }

  .footer .footer-col {
    width: 50%;
    padding: 0px 16px;
  }
}
/*# sourceMappingURL=style.css.map */